<!DOCTYPE html>
<html>
<head>
    <title>Auction Data</title>
    <link class="favicon" rel="shortcut icon" type="image/x-icon" id="dynamic-favicon" href="https://ssbprod.wichita.edu/wu-shock-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">  
    <link href="static/css/main.css" rel="stylesheet" type="text/css">
    <link href="static/css/slide-links-style.css" rel="stylesheet" type="text/css">
    <link href="static/css/search-container.css" rel="stylesheet" type="text/css">
    <link href="static/css/products.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header"></div>
    <div class="main">
        <form method="get" action="{% url 'filtered_products' %}">
            <div class="search-container">
                <select name="brand" id="brand">
                    <option value="">All Brands</option>
                    {% for brand in distinct_brands %}
                        <option value="{{ brand }}" {% if brand == selected_brand %}selected{% endif %}>{{ brand }}</option>
                    {% endfor %}
                </select>
                
                <select name="seller" id="seller">
                    <option value="">All Sellers</option>
                    {% for seller in distinct_sellers %}
                        <option value="{{ seller }}" {% if seller == selected_seller %}selected{% endif %}>{{ seller }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Apply Filters</button>
            </div>
        </form>

        <ul>
            {% for product in products %}
                {% comment %} Start of Product List {% endcomment %}
                <div class="{{product.productId}} slideshow-container" data-id="{{product.productId}}">
                    <input type="checkbox" id="{{product.productId}}_checkbox" class="product-grey-scale" onclick="toggleGrayScale('{{product.productId}}')" name="product-grey-scale-checkbox">
                    <div class="slideshow-content" onclick="openProductModal('{{product.productId}}')">
                        {% for key,value in product_images.items %}
                            {% if product.productId in key %}
                                {% for image_link in value %}
                                    <div class="{{product.productId}} mySlides">
                                        <img class="slideshow-img" src="{{ image_link }}" alt="Product Image">
                                    </div>
                                {% endfor %}
                            {% endif %}
                            
                        {% endfor %}
                    </div>

                    <div class="prev-next-links">
                        <a class="prev" onclick="plusSlides(-1, '{{product.productId}}' , 'mySlides')">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, '{{product.productId}}' , 'mySlides')">&#10095;</a>
                    </div>
                    <strong class="product-id">{{product.productId}}</strong>
                </div>

                {% comment %} End of Product List {% endcomment %}

                {% comment %} Modal Starts Here {% endcomment %}

                <div class="{{product.productId}} modal">
                    <div class="modal-content">
                        <div class="product-card">
                            {% for key,value in product_images.items %}
                                {% if product.productId in key %}
                                    {% for image_link in value %}
                                        <div class="{{product.productId}} modal-image-container">
                                            <img class="modal-img" src="{{ image_link }}" alt="Product Image">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            <div class="prev-next-links">
                                <a class="prev" onclick="plusSlides(-1, '{{product.productId}}' , 'modal-image-container')">&#10094;</a>
                                <a class="next" onclick="plusSlides(1, '{{product.productId}}' , 'modal-image-container')">&#10095;</a>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="modal-product-id">
                                <label class="detail-label">Product Id</label> 
                                <span>{{product.productId}}</span>
                            </div>
                            <div class="product-price">
                                <label class="detail-label">Price</label> 
                                <span>${{product.price}}</span>
                            </div>
                            <div class="product-description">
                                <label class="detail-label">Features</label>
                                <ol class="product-description-list">
                                    {% for key,value in product_descriptions.items %}
                                        {% if product.productId in key %}
                                            {% for feature in value %}
                                                <li>{{feature}}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ol> 
                            </div>
                        </div>
                    </div>
                    <div class="close-btn" onclick="closeProductModal('{{product.productId}}')" >
                        <img class="close-img" src="static/Images/close.png" />
                    </div>
                </div>

                {% comment %} End of Modal {% endcomment %}
            {% endfor %}
        </ul>
    </div>
    <div class="footer"></div>
    <script src="static/js/slide-show.js"></script>
    <script src="static/js/checkbox.js"></script>
    <script src="static/js/modal.js"></script>
</body>
</html>
